section#contact {
  background-image: url('../img/mica at work.jpg');
  background-size: 100%;
  background-position: left;
  background-repeat: no-repeat;
  height: 600px;
}
section#contact .section-heading {
  color: white;
}
/*section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {*/
  /* Firefox 18- */
  /*font-family: "Space Mono", monospace;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {*/
  /* Firefox 19+ */
  /*font-family: "Space Mono", monospace;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}*/
